.cover__background {
  text-decoration: none;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cover__background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.6s ease-in-out;
}

.cover__background:hover::before {
  opacity: 0.8;
  transition: opacity 0.6s ease-in-out;
}
